/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

:root{
    /* Body */
    --body-bg: #E9FFEB;

    /*HEADER COLOR*/
    --header-bg: #f1f1f1;
    --header-title-color: #E5EAD4;
    --header-logo-color: brightness(0) saturate(100%) invert(96%) sepia(16%) saturate(234%) hue-rotate(14deg) brightness(93%) contrast(97%);
    --link-color: #45936C;
    --link-hover: #34aa6f;
    
    --submenu-bg: #ffff;
    --submenu-hover: #91c4a7;
    --header-icon-color: brightness(0) saturate(100%) invert(66%) sepia(11%) saturate(1446%) hue-rotate(96deg) brightness(95%) contrast(86%);
    --img-color: brightness(0) saturate(100%) invert(75%) sepia(6%) saturate(1678%) hue-rotate(96deg) brightness(87%) contrast(81%);
    
    /*BOTON PERFIL COLOR*/
    --btn-perfil-bg: #E5EAD4;
    --btn-perfil-color: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(1561%) hue-rotate(98deg) brightness(92%) contrast(86%);
    --btn-perfil-hover: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(396%) hue-rotate(93deg) brightness(93%) contrast(92%);
    
    /*COLOR ICONOS*/
    --img-hover: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(396%) hue-rotate(93deg) brightness(93%) contrast(92%);
    
    /*COLOR ALERTA PERFIL*/
    --alerta-user-bg: #E9FFEB;
    --alert-user-i-bg: #45936C;
    --alert-user-i-color: #E5EAD4;
    --alert-user-icon: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(1561%) hue-rotate(98deg) brightness(92%) contrast(86%);

    --alert-user-d-color: #2e6d4e;
    --alert-user-d-hover: #808080;
    
    /*COLOR BOTON DEFECTO*/
    --btn-img-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(109%) contrast(101%);
    
    /* Inicion */
    --img-div-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(999%) hue-rotate(218deg) brightness(123%) contrast(100%);
    --div-svg-bg: #61ad87;
     --btn-default: #79AE92;
    --btn-default-hover: #61a680;

    /* Formulario */
    --title-alert-bg: #2e6d4e;
    --input-focus: #34aa6f;
    --bd-input-focus: #34aa6f;
    --bs-input-focus: rgb(52 170 111 / 50%);
    
    /* Footer */
    --footer-bg: #fff;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../../libs/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
	margin: 0;
	box-sizing: border-box;
}

body{
	display: grid;
	min-height: 100vh;
    /*background: url('../img/system/logo_2.png') center no-repeat fixed;*/
    /*background-size: 40%;*/
	grid-template-rows: auto 1fr auto;
	background-color: var(--body-bg);
	font-family: 'Montserrat', 'Arial';
    overflow-x: hidden;
    /*animation: .4s appear ease-in-out;*/
}

section{
	padding: 1rem ;
    width: 100%;
    overflow: hidden;
    position: relative;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--link-color);    /* color of the scroll thumb */
}

.section-body hr{
    margin: .5rem 0;
    border: 1px solid;
    border-color: #45936C;
}

.section-title{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.section-title img{
    height: 30px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7440%) hue-rotate(24deg) brightness(92%) contrast(101%);
}

.section-control{
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.title-panel{
    /* border-bottom: 2px solid green;  */
    padding-bottom: 5px;
    display: inline-block; 
    width: 100%;
    text-align: center;
}  
.linea-panel{
    width: 18%;
    margin: 0 auto;
    border: 2px solid;
    border-color: #34aa6f;

} 

/*******************************************************************
*
*       HEADER
*
*******************************************************************/
.header{
    position: sticky;
    background-color: var(--header-bg);
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    /*padding: .5rem 0;*/
    height: 80px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 1.5rem;
    user-select: none;
    color: var(--header-title-color);
    /*height: 100px;*/
    /*width: 100px;  Ancho de 200 píxeles */
}

.header-logo{
    font-size: 1.2rem;
}

.header-logo-img{
    height: 50px;
    /*filter: var(--header-logo-color);*/
}

.header-nav{
    transition: all .5s;
}

.header-nav-ul{
    list-style: none;
    display: inline-flex;
    background-color: var(--header-bg);
    align-items: center;
}

.link-item{
    position: relative;
    font-size: 1.2rem;
}

.link-item-img{
    height: 24px;
    filter: var(--header-icon-color);
    display: none;
}

.link-item a{
    text-decoration: none;
    color: var(--link-color);
    padding: 0 15px;
    cursor: default;
    user-select: none;
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: .9rem;
    text-transform: capitalize;
}

.link-item:after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--link-hover);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.link-item:hover:after{
    width: 100%;
}


/*
    BOTON SUBMENU
*/
.link-item-submenu{
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

.link-item-submenu img{
    height: 20px;
    filter: var(--header-icon-color);
    transition: all .4s ease-in-out;
}

.submenu{
    list-style: none;
    position: absolute;
    background-color: var(--submenu-bg);
    padding: 0;
    top:48px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    overflow: hidden;
    height: 0;
    white-space: nowrap;
    /* width: 100%; */
    transition: all .4s ease-in-out;
}

.submenu li{
    padding: 10px;
    transition: all .2s ease-in-out;
}

.submenu li:hover{
    background-color: var(--submenu-hover);
}

/*
    BOTON PERFIL
*/
.link-perfil img{
    height: 30px;
    padding: 0 10px;
    filter: var(--btn-perfil-color);
}   

.link-perfil{
    user-select: none;
    background-color: var(--btn-perfil-bg);
    padding: 8.5px 0;
    border-radius: 50%
}

.link-perfil:hover img{
    transition: all .2s ease-in-out;
    filter: var(--btn-perfil-hover);
}

.btn-menu-open,.btn-menu-close{
    background-color: transparent;
    filter: var(--header-icon-color);
    border:none;
    user-select: none;
    display: none;
}

.btn-menu-open img{
    height: 30px
}

/*
    ALERTA INFO PERFIL
*/

.alerta-user{
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    width: 270px;
    padding: 0;
    right: 0;
    top: 80px;
    margin:1rem .5rem;
    background-color: var(--alerta-user-bg);
    text-align: left;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    animation: fadeIn .4s ease-in-out, slideIn .6s ease-in-out;
    display: none;
}

.des{
    animation: .5s disappear ease-in-out;
}

@keyframes appear{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes disappear{
    100%{
        opacity: 0;
    }
}

.alerta-user-i{
    background-color: var(--alert-user-i-bg);
    padding: 10px 20px;
    color: var(--alert-user-i-color);
}

.alerta-user-i h5{
    font-weight: 300;
}

.alerta-user-d{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    user-select: none;
}

.alerta-user-d a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--alert-user-d-color);
    text-decoration: none;
}

.alerta-user-d a img{
    filter: var(--alert-user-icon);
}

.alerta-user-d a:hover{
    color: var(--alert-user-d-hover);
    filter: var(--img-hover);
}

.alerta-user-d hr{
    margin: 10px;
    border: 1px solid var(--alert-user-i-bg);
}

.btn-alert{
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-alert img{
    width: 16px;
    filter: var(--btn-img-color);
}

.btn-alert:hover{
    filter: var(--img-color);
}

/*******************************************************************
*
*           ESTADISTICAS
*
*******************************************************************/
.container-estadi{
    padding: .5rem;
    /*background-color: #fff;*/
}

.container-estadi h2{
    margin: 0 auto;
    margin-bottom: .5rem
}

.container-estadi-content{
    width: 100%;
    display: flex;
    gap: 1rem ;
    margin-top: .5rem;
}

.grafico,.grafico2{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    padding: .5rem;
    padding-bottom: 2rem
}

.grafico2{
    height: 600px
}

.grafico h4, .grafico2 h4{
    margin: 0 auto;
    padding-bottom: .5rem
}

.grafico canvas{
    height: 100%;
    /*background-color: #f1f1f1;*/
}

.grafico2 canvas{
    height: 100%
}

.box-porcentajes,.box-porcentajes-estadi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1rem;
    /*width: 30%;*/
}
.box-porcentajes-estadi{
    justify-content: space-around;
    width: 35%;
}

.box-porcentaje{
    text-align: center;
    padding: .5rem;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    line-height:2rem;
    width: 100%;
}
.box-porcentaje p{
    text-transform: capitalize;
    /*font-size: 1.2rem;*/
}
.box-porcentaje b{
    font-size: 1.5rem
}

.box-porcentaje2{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid: 
    "imgBox porcentajeBox" 1fr
    "titleBox titleBox" auto
    / auto 1fr;
    gap: 0 .5rem;
    padding: .5rem;
    background-color:#fff;
    border-radius: 5px;
    white-space: normal;
    width: 150px;
    text-align: center;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}

.box-porcentaje2{
    width: 150px
}

.box-porcentaje2 img{
    grid-area: imgBox;
    width: 50px;
}

.box-porcentaje2 b{
    grid-area: porcentajeBox;
    font-size: 2rem
}

.box-porcentaje2 span{
    grid-area: titleBox;
    text-transform: capitalize;
}

/*******************************************************************
*
*       M A P A
*
******************************************************************/
.box-mapa{
    display: block;
    width: 100%;
    height: 500px;
    padding: .5rem;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}

#mapa{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.leyenda {
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 25px;
    z-index: 1;
    margin: .5rem
}
.leyenda div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.leyenda div img {
    width: 20px;
    height: 20px;       
}
/*******************************************************************
*
*       P R I N C I P A L
*
******************************************************************/
.section-panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:.5rem;
}

.panel-info{
    flex:1;
}
.notificaciones{
    background-color: #fff;
    padding: 1rem 0;
    border-radius: 5px;
    border:1px solid #ccc;
    margin-top: 1rem;
    /* height: 70%; */
}

.notificaciones h1{
    padding-left: 1rem;
    text-transform: capitalize;
}

.informes{
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
    width: 400px;
}

.card-informe{
    display: flex;
    width: 100%;
    gap: 1rem;
    /*background-color: var(--body-bg);*/
    padding: .5rem;
    cursor: default;
    user-select: none;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}
.card-informe:hover{
    background-color: #d2f7d6
}

.card-informe img{
    height: 45px
}
.card-content{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-content span{
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}
.card-content b{
    color: #000000c4;
}
.card-content p{
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fecha{
    font-size: .8rem;
    white-space: nowrap;
}

/*estilo informe leido o visto*/
.card-leida span,.card-leida b,.card-leida p{
    color: grey;
    font-weight: normal;
}

.conteiner{
    justify-content: center;
    display: flex;
    width: 200px;
    height: 175px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    background-color: #f1f1f1;
    transition: all 0.2s;
    box-shadow: 12px 9px 0px rgba(0, 0, 0, 0.2);
    flex: 1 1 30%; 
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
    flex-direction: column;
    text-align: center;
}
.conteiner:hover{
    background-color: #d4e6d4;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3); 
} 

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

#sv{
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10px;

}

#sv img {
    width: 36%;
    display: flex;
    position: relative;
    filter: brightness(0) saturate(100%) invert(69%) sepia(26%) saturate(390%) hue-rotate(96deg) brightness(90%) contrast(85%);
    z-index: 0;
}

#text{
    padding: 15px;
    background-color: transparent;
}
#text h2{
    font-size: 1.2rem;
}
.banner a{
    text-decoration: none;
    color: black;
}
.banner{
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/*TABLAS*/
.table-scroll{
    padding: 0 .5rem;
    width: 100%;
    /*height: 100%;*/
    overflow-y: auto;
}

table {
    /*width: 100%;*/
    border-collapse: collapse;
    border: none;
    font-size: 1rem;
    margin: .5rem 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
}

th {
    background-color: #61b388;
    color: #333333;
    text-align: left;
    user-select: none;
    text-transform: capitalize;
}

tr {
    background-color: #f2f2f2;
    color: #333333;
    transition: background-color 0.3s ease;
}

tr:nth-of-type(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #d4e6d4;
}

img{
    user-select: none;
}

.btn {
    padding: 5px 15px;
    background-color: var(--btn-default);
    color: #ffffff;
    border: 2px solid var(--btn-default);
    border-radius: 5px;
    cursor: pointer;
    /*margin: 10px 0;*/
    font-size: 1.2rem;
    transition: color,border,background-color .4s;
    user-select: none;
}

/*.btn img{
    width: 16px;
    filter: var(--img-div-color);    
}*/

.btn:hover {
    color: var(--btn-default);
    background-color: transparent;
    /*filter: var(--img-color);*/
}


.btn-delete img,.btn-edit img,.btn-assign img, .btn-setting img{
    z-index: 0;
    filter: brightness(0) saturate(100%) invert(96%) sepia(16%) saturate(234%) hue-rotate(14deg) brightness(93%) contrast(97%);
}

/*BOTON ELIMINAR*/
.btn-delete {
    border: 2px solid #d70000;
    background-color: #d70000;  
    padding: 5px 10px;
}

.btn-delete:hover{
    filter: brightness(0) saturate(100%) invert(12%) sepia(90%) saturate(4433%) hue-rotate(357deg) brightness(101%) contrast(120%);
    background-color: transparent;
}

/*BOTON EDITAR*/
.btn-edit{
    border-color: #4757b5;
    background-color: #4757b5;
}

.btn-edit:hover{
    filter: brightness(0) saturate(100%) invert(30%) sepia(78%) saturate(875%) hue-rotate(203deg) brightness(91%) contrast(88%);
    background-color: transparent;
}

/*INPUT BUSCADOR*/
.input-search{
    background: #fff url('../../views/img/system/search.svg') 4px center/20px no-repeat;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #CACACA;
    /*color: #000000a3;*/
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    padding: 5px .5rem;
    padding-left: 35px;
    outline: none;
}
.input-search:focus{
    border-color: var(--bd-input-focus);
    box-shadow: 0px 0px 5px 1px var(--bs-input-focus);
}

/*SELECT PAGINAS*/
.select-pag{
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #CACACA;
    /*color: #000000a3;*/
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    padding: 5px .5rem;
    outline: none;
    text-transform: capitalize;
}
.select-pag:focus{
    border-color: var(--bd-input-focus);
    box-shadow: 0px 0px 5px 1px var(--bs-input-focus);
}

/*ESTADO DE VIAJE EN TABLA*/
.tpl-col-estado{
    display: block;
    border-radius: 5px;
    padding:.5rem;
    text-transform: capitalize;
    color: #fff;
    width: 100%;
    text-align: center;
}
/*******************************************************************
*
*       VISTA USUARIO
*
*******************************************************************/
.user-vista{
    width: 60%;
    margin: 0 auto;
}

.user-vista h2{
    text-align: center;
}

.vista{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0 , 0, 0, 0.5);
}

.vista a{
    text-decoration: none;
    color: #000;
}

.card-viaje{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid ; 
    border-radius: 0 5px 5px 0;
    margin: 10px 0;
    padding: 10px;
    cursor: default;
}

/* ESTADOS DE VIAJE */
.asig{
    border-color: #6b6bef;
    background-color: #0000ff3b;
}

.proc{
    border-color: #ffeb3b;
    background-color: #ffeb3b75;
}

.rem{
    border-color: orange;
    background-color: #ffa50087
    /*background-color: #00ff0069*/
}

.fin{
    border-color: var(--btn-default);
    background-color: var(--body-bg);
}

.card-viaje ul{
    list-style: none;
    padding-left: 10px;
}

.card-viaje ul li:first-child{
    font-weight: bold;
}

.card-viaje:hover{
    /*background-color: #d7edd9*/
    opacity: .8;
}

.msg-viajes{
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
}

.table-info-viaje{
    width: 100%;
    box-shadow: none;
}

.table-info-viaje .title-table{
    background-color: var(--body-bg);
    text-align: center;
}

.table-info-viaje .asig{
    background-color: #0000ff3b;
}

.table-info-viaje .proc{
    background-color: #ffeb3b75;
}

.table-info-viaje .rem{
    background-color: #ffa50087;
}

.table-info-viaje .fin{
    background-color: var(--body-bg);
}

.table-info-viaje th, .table-info-viaje td{
    border: none;
    white-space: normal;
}


.table-info-viaje th {
    background-color: #fff;
    color: #333333;
    text-align: left;
    user-select: none;
    text-transform: capitalize;
    width: 50%;
}

.table-info-viaje tr {
    background-color: #fff;
    color: #333333;
}

.table-info-viaje tr:nth-of-type(even) {
    background-color: #ffffff;
}

/*******************************************************************
*
*       P E R F I L
*
********************************************************************/
.container-perfil{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--body-bg);
    gap: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 60%;
    margin: 10px auto;
    border-radius: 5px;
}

.container-perfil h1{
    font-size: 2rem
}

.img-perfil, .img-perfil2{
    border-radius: 50%;
    background-color: white;
    aspect-ratio: 1;
    object-fit: revert;
}

.img-perfil{
    width: 150px
}

.img-perfil2{
    width: 200px;
}

.container-perfil div ul{
    list-style-type: none;
    margin-top: 10px;
    font-size: 1.2rem
}

.container-perfil b{
    font-weight: 550;
}

/*DIV DE PERFIL CONFIGURACION*/
.container-perfil-setting{
    background-color: var(--body-bg);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
}

.container-perfil-control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-perfil-control h1{
    padding: 0 1rem;
    color: #000

}

.btn-setting{
    border-radius: 0px 5px 0px 5px;
}

.btn-setting img{
    width: 30px;
}

.btn-setting:hover{
    filter: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(1561%) hue-rotate(98deg) brightness(92%) contrast(86%);
    background-color: transparent;
}

.formulario-perfil{
    /*margin: 0 auto;*/
    padding: 1rem;
    position: relative;
}

.formulario-perfil-oscu{
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
    background-color: #e9ffebd1;
}
.formulario-perfil form{
    display: flex;
    align-items: center;
    gap:.5rem;
    user-select: none;
}

/*******************************************************************
*
*       F O O T E R 
*
********************************************************************/
footer{
	background-color: var(--footer-bg);
	padding: 20px;
	grid-row: 4/4;
    font-size: .6rem;
    display: flex;
    justify-content: center;
    gap:10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5 );
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	text-decoration: underline;
}


/*******************************************************************
*
*       RESPONSIVE LAPTOP
*
********************************************************************/
@media(max-width: 1024px){
    /* HEADER */
    .header{
        height: 70px
    }

    .header-logo{
        /*height: 20px*/
    }

    .header-logo-img{
        height: 40px;
    }

    .header-logo-text{
        height: 30px
    }

    .link-item{
        font-size: 1rem;
    }

    .link-item a{
        height: 19px
    }

    .link-item:after{
        height: 3px;
        bottom: -10px;
    }

    .submenu{
        top:44px;
    }
    
    .link-perfil{
        padding: 6.5px 0;
    }

    .link-perfil img{
        height: 23px;
    }
        
    .alerta-user{
        top: 70px;
    }

    /*PRINCIPAL*/
    .box-porcentaje2{
        width: 115px;
    }

    .informes{
        width: 330px
    }
    .card-content span{
        font-size: 1rem
    }

    td,th{
        padding: 5px 10px;
    }

    .btn{
        font-size: .9rem;
    }
    .conteiner{
        width: 175px;
        height: 170px;
    }
    #text{
        font-size: .9em;
    }
    .svg-panel{
        height: 75px;
    }

    /* ESTADISTICAS */
    .box-porcentajes-estadi{
        width: 50%;
    }
    .grafico{
        height: 300px;
        /*background-color: #f1f1f1;*/
    }

    /*PERFIL*/
    .container-perfil h1{
        font-size: 1.5rem
    }

    .container-perfil div ul{
        font-size: 1rem
    }

    .img-perfil{
        width: 100px;
    }

    .img-perfil2{
        width: 150px
    }
    
}

/*******************************************************************
*
*       RESPONSIVE 700px
*
********************************************************************/
@media (max-width: 700px){
    /*
        HEADER
    */
    .header{
        padding: .5rem;
    }

    .link-perfil{
        border-radius: 50%;
    }

    .header-logo{
        margin:0;
    }

    .header-logo-img{
        /*height: 30px*/
    }

    .header-nav {
        overflow: hidden;
        width: 0;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 50%);
        height: 100vh;
    }

    .header-nav-ul {
        position: absolute;
        left: 0;
        z-index: 3;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        height: 100vh;
        overflow-y: auto;
        gap: 2rem;
        padding: 1rem;
    }

    .header-nav-ul li{
        width: 90%;
        margin-left: 1rem;
    }
    

    .link-item a{
        gap:1rem;
    }
    .link-item-img{
        display: block;
    }

    .submenu{
        position: sticky;
        margin-left: 25px;
        box-shadow: none;
        border-left: 2px solid var(--link-color);
        width: auto;
        background-color: transparent;
    }

    .submenu li{
        margin: 0;
        width: 100%;
    }
    .btn-menu-open,.btn-menu-close{
        display: block;
    }

    .alerta-user{
        top: 70px;
    }
    /*PRINCIPAL*/
    .notificaciones,.informes{
        width: 100%;
    }
    .notificaciones{
        height: auto;
    }
    
    /*ESTADISTICAS*/
    .container-estadi-content{
        flex-wrap: wrap;
    }
    .box-porcentajes-estadi{
        width: 100%;
    }
    /*MAPA*/
    .box-mapa{
        height: 300px
    }

    /*PERFIL*/
    .container-perfil{
        width: 90%;
    }

    .container-perfil-setting{
        width: 90%;
    }

    /* PANEL EMPLEADO */
    .user-vista{
        width: 80%;
    }
}

/*******************************************************************
*
*       RESPONSIVE MOBILE
*
********************************************************************/
@media (max-width: 500px) {
    .header-logo-img{
        height: 30px;
    }

    .header-logo-text{
        height: 20px
    }

    /*
        PRINCIPAL
    */
    .linea-panel{
        width: 50%
    }

    .btn-alert span{
        display: none;
    }
    /*.conteiner{
        width: 90vw;
        height: auto;
        display: flex;
    }
    #sv img{
        width: 50px;
    }
*/
    /*
        ESTADISTICAS
    */
    .estadi-contenido{
        flex-wrap: wrap;
    }

    .tabla-estadi{
        width: 100%;
    }

    .grafico{
        height: 500px;
    }

    /*
        INFO PREFIL
    */
    .container-perfil{
        width: 100%;
    }

    .container-perfil div{
        width: 100%;
        text-align: center;
    }

    .container-perfil div ul{
        padding: 0;
        text-align: left;
    }
    .container-perfil-setting{
        width: 100%;
    }
    
    .formulario-perfil form{
        flex-wrap: wrap;
    }
    /* USUARIO */
    .user-vista{
        width: 100%;
    }

}
