<!DOCTYPE html>
<html lang="en">
<head>
	@extern('head')
</head>
<body style="background-image: none;">
	{{HEADER}}
	
	<section style="overflow: hidden;text-align: center;margin:1rem 0">
		<img src="views/img/system/notFound404.svg" style="width: 50%;">
		<h1 style="margin-top: 20px;font-size: 2rem;color: rgb(63, 61, 86)">La seccion no existe</h1>
	</section>

	<!--PIE DE PAGINA-->
	<footer id="footer">
		<span>Copyright&copy2024 <a href="index.html">LogicTruck</a></span><a href="">Politica y Privacidad</a>
	</footer>
	
	<script src="views/js/script.js"></script>
</body>
</html>