<nav id='menu'>
  <a href="./panel" style="display: flex;align-items: center;padding: 0;">
    <img src="views/img/system/logo.png" id="img-logo">
    <h2>LogisTruck</h2>  
  </a>
  <input type='checkbox' id='responsive-menu'><label for="responsive-menu"></label>
  <ul>
    <li><a href='./panel'>Inicio</a></li>
    <li><a href='./viajesE'>Viajes</a></li>
    <li><a href='./vehiculoE'>Vehiculos</a>
    <li><a href='./estatE'>Estadisticas</a></li>
  </ul>
  <a class="btn-user" onclick="infoUser('{{NOM_ALERT}}','{{EMAIL_ALERT}}')"><img src="views/img/system/avatar.svg"></a>
</nav>
