<!DOCTYPE html>
<html lang="en">
<head>
	@extern('head')
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" type="text/css" href="libs/Modal/modal.css{{PROYECT_MODE}}">
</head>
<body>
	<!--ENCABEZADO-->
	@extern('headerAdmin')

	<!-- Template de tabla -->
	<template id="tpl_row_table">
		<tr>
			<td class="tpl-col-numViaje"></td>
			<td class="tpl-col-destino"></td>
			<td class="tpl-col-producto"></td>
			<td class="tpl-col-cantidad"></td>
			<td class="tpl-col-fechaSalida"></td>
			<td class="tpl-col-fechaLlegada"></td>
			<td>
				<span class="tpl-col-estado"></span>
			</td>
			<td>
				<button class="btn btn-edit" >
					<img src="views/img/system/edit.svg" alt="">
				</button>
				<button class="btn btn-delete" >
					<img src="views/img/system/delete.svg" alt="">
				</button>
			</td>
		</tr>
	</template>
	
	<!--PRINCIPAL-->
	<section class="section-body">
		<h2 class="section-title">
			<img src="views/img/system/viaje.svg">
			Viajes
		</h2>
		
		<hr>
	
		<!-- SECCION DE CONTROL -->
		<div class="section-control" id="section_control">
			<!-- BOTON AGREGAR -->
			<button class='btn' id='btn_agregar' onclick='addViajes()'>
				<i class='bi bi-plus-lg'></i> 
				Agregar Viaje
			</button>

			<!-- INPUT BUSCADOR -->
			<input type="text" class="input-search" id="buscador" placeholder="Buscar">
			
			<!-- SELECT PAGINACION -->
			<div id="div_select_pag">
				<button id="btn_last_page" class="select-pag" style="background-color: white"> 
					<
				</button>
				<select id="select_pag" class="select-pag"></select>
				<button id="btn_next_page" class="select-pag" style="background-color: white"> 
					>
				</button>
			</div>

			<!-- ORDENAMIENTO -->
			<div>
				<label for="select_order">Ordenar por</label>
				<select id="select_order" class="select-pag">
					<option value="true">más reciente</option>
					<option value="false">más antiguo</option>
				</select>
			</div>
		</div>

		<!-- TABLA -->
		<div class="table-scroll" id="contenido_tablas">
			<table id="tabla">
				<thead>
					<tr>
						<th>#</th>
						<th>Destinó</th>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Fecha de Salida</th>
						<th>Fecha de Llegada</th> 
						<th>Estado</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tabla_content">
					
				</tbody>
			</table>	
		</div>
	</section>

	<!-- FOOTER -->
	@extern('footer')

	<!-- SCRIPTS -->
	<script src="libs/Jquery/jquery-3.7.1.min.js"></script>
	<script defer src="libs/Modal/modal.js{{PROYECT_MODE}}"></script>
	<script src="views/js/script.js{{PROYECT_MODE}}"></script>
	<script src="views/js/requestApis.js{{PROYECT_MODE}}"></script>
	<script src="views/js/viajes.js{{PROYECT_MODE}}"></script>
</body>
</html>